.bi-sun-fill {
  font-size: 40px;
  color: #ffc800;
}
.text {
  font-size: 20px;
}
.navbar {
  background-color: #fff7e9;
}
.space {
  gap: 20px;
}
.test a {
  text-decoration: none;
  color: #1a394a;
}

.test > a:hover {
  color: #ffc800; /* 滑鼠懸停時的顏色 */
}
